# Node modules
node_modules/

# Build output
.next/

# Log files
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# IDE settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
